#root {
  height: 100%;
}

.MuiBox-root header {
  margin: 0px;
  width: 100%;
}

.dv-box {
  background-color: #e8f1fa;
  border-radius: 6px;
  box-shadow: 3px 3px 6px 0px lightblue;
  height: 125px;
  padding: 15px;
  width: 300px;
}

.dv-box .dv-analytics-label {
  display: block;
  color: #333;
  font-size: 18px;
  text-decoration: none;
}

.dv-box .dv-analytics-figure {
  color: #1976d2;
  font-size: 36px;
}

.dv-header {
  border-bottom: 1px solid lightgray
}

.label-header {
  color: #333;
  font-size: 18px;
}

a.btn {
  min-width: 75px;
  padding: 5px;
}

a.btn-primary {
  background: #1976d2;
}

div.p-dialog-title {
  color: #333;
  font-size: 18px;
  font-weight: 600;
}

form textarea {
  resize: none;
}

.spn-error {
  color: red;
  font-weight: 600;
}